.p1 {
    position: relative;
}

.p0 {
    margin-bottom: 600px;
    margin-top: 80px
}


.p1-1 {
    padding-top: 50px;
    padding-bottom: 300px;
    opacity: 1;
    transition: opacity .1s ease-in-out;
}
.p1-1.fixed :first-child {
    position: fixed;
}


.p1-2 {
    transform: translate(80px ,-370px) scale(0);
    transition: transform 1s ease-in-out;
}
.p1-2.expand-move {
    transform: translate(0px ,-800px) scale(1);
}
.p1-2.fixed {
    transform: initial;
    transition: initial;
}
.p1-2.fixed :first-child {
    position: fixed;
}


.p1-3 {
    padding-bottom: 300px;
}
.p1-3.fixed :first-child {
    position: fixed;
}


.p1-4 {
    padding-bottom: 300px;
}